.reactions {

  display: flex;
  align-items: center;

  .sc-user-input--picker-wrapper {
    min-width: 0;
    min-height: 0;
    position: relative;
    top: 0;
    padding: 7px 10px 5px;

    .sc-user-input--emoji-icon {
      height: 16px;
      width: auto;
      cursor: pointer;

      // &:hover {
      //   fill: #0366D6;
      // }
    }
  }

  .emoji-bar {
    display: flex;
    align-items: center;
    visibility: visible !important;
    border-left: 1px solid #e1e4e8;

    .emoji-item{
      display: flex;
      align-items: center;
      color: #0366D6;
      // padding: 0 6px;
      float: left;
      padding: 7px 10px 5px;
      line-height: 18px;
      border-right: 1px solid #e1e4e8;
      cursor: pointer;

      &.has_reacted {
        background-color: #f1f8ff;
      }
    }
  }

}

