@import '../../variables.scss';

.reactions {

  display: flex;
  align-items: center;
  position: relative;

  .sc-user-input--picker-wrapper {
    min-width: 0;
    min-height: 0;
    position: relative;
    top: 0;
    padding: 7px 10px 5px;

    .sc-user-input--emoji-icon {
      height: 16px;
      width: auto;
      cursor: pointer;
      fill: $buttonColor;

      &:hover path,
      &:hover circle,
      &.active path,
      &.active circle
      {
        fill: $buttonColor;
      }
    }
  }

  .emoji-bar {
    display: flex;
    align-items: center;
    visibility: visible !important;
    border-left: 1px solid $lightBorderColor;

    .emoji-item{
      display: flex;
      align-items: center;
      color: #0366D6;
      // padding: 0 6px;
      float: left;
      padding: 7px 10px 5px;
      line-height: 18px;
      border-right: 1px solid $lightBorderColor;
      cursor: pointer;

      &.has_reacted {
        background-color: $activeIconBackgroundColor;
      }
    }
  }

  .hint {
    display: none;
    position: absolute;
    left: 32px;
    top: 18px;
    color: $tooltipFont;
    background-color: $darkBackgroundColor;
    font-size: 12px;
    // opacity: 0;
    transition: .2s ease-in-out all;
    white-space: nowrap;
    overflow: hidden;
    padding: 2px 10px;

    &.visible {
      display: block;
    }
  }

}

