@import '../../variables.scss';

.comment_vote {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid $borderColor;
  border-radius: 4px;
  height: $reactionHeight;
  margin-right: 12px;
}

.vote_btn {
  border: none;
  background-color: transparent;
  padding: 0 2px;
  width: 28px;
  height: 100%;
  width: 30px;
  cursor: pointer;

  &:hover {
    background-color: $lightBorderColor;

    .vote_icon {
      &.upvote {
        fill: $positiveColor;
      }

      &.downvote {
        fill: $negativeColor;
      }
    }
  }

  .vote_icon {
    height: 16px;
    width: auto;
    opacity: .4;

    &.upvote.voted {
      fill: $positiveColor;
    }

    &.downvote.voted {
      fill: $negativeColor;
    }
  }
}

.vote_btn-middle {
  // border-right: 1px solid $borderColor;
  // border-left: 1px solid $borderColor;
}

.count {
  width: 30px;
  opacity: .8;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;

  &.positive {
    color: $positiveColor;
  }

  &.negative {
    color: $negativeColor;
    ;
  }
}