$lightFont:#54545e;
$lighterFont:#7d7d7d;
$lightestFont:#c1c1c1;

$maxCommentWidth: 600px;
$minCommentWidth: 300px;

$minCommentWidth-mobile: 260px;

$commentPictureDimension: 60px;

$commentPictureDimension-mobile: 50px;

$borderColor:#dadada;
