$lightFont:#54545e;
$lighterFont:#7d7d7d;
$lightestFont:#c1c1c1;
$tooltipFont:#f1f8ff;

$maxCommentWidth: 600px;
$minCommentWidth: 300px;

$minCommentWidth-mobile: 260px;

$commentPictureDimension: 56px;
$commentPictureDimension-nested: 42px;
// $commentPictureDimension: 60px;

$commentPictureDimension-mobile: 50px;
$commentPictureDimension-nested-mobile: 40px;

$borderColor:#dadada;
$lightBorderColor:#ebebeb;
$buttonColor:#0366D6;
$activeIconBackgroundColor:#f1f8ff;
$darkBackgroundColor:#38383e;

$positiveColor:#005eff;
$negativeColor:#ff0051;

$reactionHeight: 22px;

$inputMarginLeft: 68px;